.contact-wrapper{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
   
}

.avatar { 
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    border:none;
    background-image: url('https://images.ecestaticos.com/XBt9G5umGpid8S2dgQk2G5jGUow=/119x0:2001x1412/1200x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F848%2Ff70%2F0d5%2F848f700d5a15920f020496a616af873a.jpg');
    background-size: cover;
}

.avatar > .svg {
    height: 100%;
    width: 100%;
    transform: translateY(20px);
    color: rgb(0, 0, 0);
}

.avatar-letters {
    background-color: inherit;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-family: 'Karla', sans-serif;
}

@media screen and (max-width: 1600px){
    .content-wrapper{
        padding: 0 300px
    }
}

@media screen and (max-width: 1200px){
    .content-wrapper{
        padding: 0 100px
    }
}

@media screen and (max-width: 759px){
    .content-wrapper{
        padding: 0 100px
    }

    .contact-wrapper{
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgb(0, 0, 0);
    }

    .avatar{
        align-self: center;
    }
}

@media screen and (max-width: 539px){
    .content-wrapper{
        padding: 0
    }
}